{% extends "proyectoApp/base.html" %} {% load static %} {% block acerca_de_mi %}
<section>
  <div class="titulo-acerca-de-mi">
    <h1><span class="A">A</span>cerca de mi</h1>
  </div>
  <div class="contenido-acerca-de-mi">
    <div class="foto-mia">
      <img
        src="../../../media/foto-mia.jpeg"
        alt=""
      />
    </div>
    <h4>
      <span class="iniciales">M</span>i nombre es
      <span class="mi-nombre">Gonzalo Saguas</span>, tengo 20 años, soy
      estudiante de programación hace 1 año, hecho varios cursos de desarrollo
      web, <span class="tecnologias">HTML y CSS</span>, tambien,
      <span class="tecnologias">ReactJS, JavaScript</span> y ahora mismo me
      encuentro estudiando
      <span class="tecnologias">Node.js, Express, MongoDB, MySQL.</span>
      <div>
        <h4>
          <span class="iniciales">T</span>engo hechos varios proyectos en
          ReactJS simulando una tienda virtual, pudiendo agregar productos al
          carrito, eliminando, agregando o actualizando los mismos.
        </h4>
      </div>
      <div>
        <h4>
          <span class="iniciales">M</span>e encanta pasar horas y horas frente a
          la computadora, ya sea, aprendiendo nuevas tecnologias y seguir
          mejorando como programador o jugando en mi momento de ocio. Me gusta
          mucho tocar la guitarra, el piano, escuchar musica de todo tipo.
        </h4>
      </div>
    </h4>
  </div>
</section>

{% endblock acerca_de_mi %}
