{% extends "proyectoApp/base.html" %}

{% block mis_productos %}
  <h1>Mis Prendas Publicadas</h1>
  <ul>
    {% for producto in productos %}
      <li>
        <h2>{{ producto.nombre }}</h2>
        <img src="/media/productos/" alt="">
        <p>{{ producto.descripcion }}</p>
        <a href="{% url 'actualizar_producto' producto.id %}">Actualizar prenda</a>
        <a href="{% url 'eliminar_producto' producto.id %}">Eliminar producto</a>
      </li>
    {% empty %}
      <p>No has publicado ninguna prenda todavia.</p>
    {% endfor %}
  </ul>
  <a href="{% url 'crear_producto' %}">Publicar una nueva prenda</a>
</div>
<a href="{% url 'mis_productos' %}">Ver mis prendas publicadas</a>
{% endblock %}



